.bank
{
    width: 70%;
    
}

.ques-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ques-title
{
  color: #172242;
  font-size: 2.2rem;
}

.answer
{
  color: black;
  font-size: 1.5rem;
}